---
layout: page
title: Portfolio
image: banner.jpg
permalink: /work/
---
<!-- begin works -->
<div class="works">
  <div class="work-box">
    {% for project in site.data.settings.projects %}
    <div class="work-item">
      <!--<div class="work-image-container">-->
        <!--<a class="work-popup-link" href="{{ site.baseurl }}/curriculums/{{ project.cv }}">-->
        <!--<a class="work-popup-link" href={{ project.link }}>
          <div class="work-image" {% if project.image %} style="background-image: url({{"/images/work/" | prepend: site.baseurl | append :
        project.image}})" {% else %} style="background-image: url(https://via.placeholder.com/1280x720)" {% endif %}></div>
        </a>-->
        
      <!--</div>-->
      <a href={{ project.link }}>
        <img src="https://github.com/Tale-Weavers/taleweavers.github.io/images/work/{{ project.image }}">
      </a>
      <!--<div  class="work-overlay">
        <strong>{{ project.name }}</strong>
      </div>-->
    </div>
    {% endfor %}
  </div>
</div>
<!-- end works -->
